<!DOCTYPE HTML>
<html>
<head>
    <title> {{ title }}</title>
    {% include 'includes.html' %}
    {% block head %}
    {% endblock %}
</head>

<body>
<!--Nav Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if title == "Home" %}
                    <li class="active"><a href="/">Home</a></li>
                {% else %}
                    <li class=""><a href="/">Home</a></li>
                {% endif %}
                {% if title == "Search" %}
                    <li class="active"><a href="/search">Search</a></li>
                {% else %}
                    <li><a href="/search">Search</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div><!-- /.container -->
<!-- FOoter -->
</body>


</html>